<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="filters">
        <form action="/" method="GET">
            <label for="developer">Filter by Developer:</label>
            <select name="developer" id="developer" onchange="this.form.submit()">
                <option value="">All Developers</option>
                <% developers.forEach(dev => { %>
                    <option value="<%= dev.name %>" <%= selectedDeveloper === dev.name ? 'selected' : '' %>>
                        <%= dev.name %>
                    </option>
                <% }); %>
            </select>
        </form>
    </div>

    <div class="table">
        <div class="header">
            <div class="col">Game</div>
            <div class="col">Developer</div>
            <div class="col">Genre</div>
            <div class="col">Actions</div>
        </div>

        <% games.forEach (game => { %>
            <div class="data">
                <div class="col"><%= game.title %></div>
                <div class="col"><%= game.developer %></div>
                <div class="col"><%= Array.isArray(game.genres) ? game.genres.join(', ') : game.genres %></div>
                <div class="col"><a href="">Edit</a> <a href="">Del</a></div>
            </div>
        <% }); %>
    </div>
</body>
</html>